.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #11BF7E;
}

.thumbnail img {
    width: 100%;
}
.thumbnail {
    border: 0;
}

.thumbnail {
    padding: 0;
    border:0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

/* Starability Rating Form */
.starability-basic {
	min-height: 0;
}


#hoverthumb:hover {
    box-shadow: 10px 10px 5px #3a4444;
    z-index: 100;
}

